<div>
  <ion-item>
    <ion-label position="floating">
      Nova Tarefa:
    </ion-label>
    <ion-input [(ngModel)]="novaTarefa">

    </ion-input>
  </ion-item>
  <ion-button color="success" [disabled]="!novaTarefa" expand="block" (click)="cadastrarTarefa()" >
    Adicionar
  </ion-button>
  <ion-list>
    <ion-item-group *ngFor="let tarefa of tarefas; let id = index">
      <ion-item-sliding (ionSwipe)="removerTarefa(id)">
        <ion-item>{{ id }}  - {{ tarefa }}</ion-item>
        <ion-item-options side="end">
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</div>