<div class="container-fluid">
  <div class="d-flex justify-content-around my-4">
    <div>
      <img src="https://cdn-icons-png.flaticon.com/512/1113/1113669.png?w=826&t=st=1647563020~exp=1647563620~hmac=30217fd5b1023c5afc4d0fb699860675591294d55b63b60c62d3a764dd2388e5" alt="Logo" class="logo">
    </div>
    <div class="display-3">
      CANTINA
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-warning">
        C
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-5 ps-5 d-flex align-items-center">
      Hotdog
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="delHotdog()">-</button>
    </div>
    <div class="col-3 d-flex align-items-center">
      <input type="number" class="w-100" [(ngModel)]="qtdHotdog">
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="addHotdog()">+</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-5 ps-5 d-flex align-items-center">
      Refri
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="delRefri()">-</button>
    </div>
    <div class="col-3 d-flex align-items-center">
      <input type="number" class="w-100" [(ngModel)]="qtdRefri">
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="addRefri()">+</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-5 ps-5 d-flex align-items-center">
      Bala
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="delBala()">-</button>
    </div>
    <div class="col-3 d-flex align-items-center">
      <input type="number" class="w-100" [(ngModel)]="qtdBala">
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="addBala()">+</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-5 ps-5 d-flex align-items-center">
      Chocolate
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="delChocolate()">-</button>
    </div>
    <div class="col-3 d-flex align-items-center">
      <input type="number" class="w-100" [(ngModel)]="qtdChocolate">
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="addChocolate()">+</button>
    </div>
  </div>

  <div class="text-center display-4 fw-bold mt-5">
    Total R$ 0,00
  </div>
</div>
