<div class="container-fluid">
  <div class="row">
    <div></div>
    <div>CANTINA</div>
    <div></div>
  </div>


  <div class="row">
    <div class="col-5 ps-5 d-flex align-items-center">
      Hotdog
    </div>
    <div class="col-2">
      <button class="btn btn-primary">-</button>
    </div>
    <div class="col-3 d-flex align-items-center">
      <input type="number" class="w-100" id="">
    </div>
    <div class="col-2">
      <button class="btn btn-primary">+</button>
    </div>
  </div>
</div>
