<div>
  <ion-item>
    <ion-label position="floating">
      Novo Exercício:
    </ion-label>
    <ion-input [(ngModel)]="novoExercicio">

    </ion-input>
  </ion-item>
  <ion-button color="success" [disabled]="!novoExercicio" expand="block" (click)="cadastrarAtividade()">
    Adicionar
  </ion-button>
  <ion-list>
    <ion-item-group *ngFor="let exercicio of exercicios">
      <ion-item-sliding (ionSwipe)="removerAtividade(id)">
        <ion-item>
          {{ exercicio.nome }}
          <input type="number" (change)="atualizarBanco()" placeholder="peso" [(ngModel)]="exercicio.peso">
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</div>