#header {
  display: flex;
  align-items: center;
}

.menu {
  background-color: rgb(90, 211, 211);

  float: left;
}

.menu > ion-icon {
  width: 100%;
  height: 10vh;
}

.titulo {
  display: flex;
  float: left;
}

.tituloBold {
  text-align: center;
  float: left;
  background-color: cadetblue;
}

.tituloLight {
  text-align: center;
  float: left;
  background-color: chocolate;
}
.lupa {
  background-color: blue;
  width: 15%;
  height: 10vh;
  float: left;
}

.lupa > ion-icon {
  width: 100%;
  height: 5vh;
  margin-top: 2vh;
}

#dias {
  margin-top: 5vh;
  width: 100vw;
  height: 10vh;
  float: left;
  background-color: brown;
}