@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
ion-toolbar {
  --background: #fff;
  --border-style: none;
}

ion-header {
  padding: 12px 24px;

  ion-title{
    font-size: 1.5rem;
    color: #2677b1;
    font-weight: 700;

    span{
      color: #777;
      font-weight: 300;
    }
  }
}

ion-segment-button {
  padding: 3px 0;
  --indicator-color: #2677b1;
  --color-checked: #fff;
  --background-checked: #2677b1;
}

ion-content{
  --padding-start: 32px;
  --padding-end: 32px;
  --padding-top: 24px;
}

main{
  margin-top: 56px;
  padding: 36px;
  background: linear-gradient(#6ad7ef, #6672d8);
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.localizacao{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -44px;

  img{
    margin-right: 12px;
    width: 32px;
    height: 32px;
  }
}

.minmax{
 display: flex;
 align-items: center;
 margin-top: 12px;
 font-weight:  500;

 ion-icon{
   margin-right: 4px;
   font-size: 14px;
 }

  
  .min{ color: #2d5a74; margin-left: 12px; }
}

.max{
  color: #ed7e17;
}

.min{
  color: #2d5a74;
}

.temperatura{
  font-size: 96px;
  font-weight: 600;
}

.imagem-tempo{
  position: absolute;
  width: 140px;
  height: 140px;
  right: 0;
}

.info-adicional{
  border: 1px solid #2677b1;
  border-radius: 24px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.info{
  width: 100%;
  text-align: center;
  img{
    width: 32px;
  }
}

.borda-separacao{
  border-left: 1px solid #2677b1;
  border-right: 1px solid #2677b1;
}

.fw-350{
  font-weight: 350;
}

.fw-500{
  font-weight: 500;
}

h2{
  font-weight: 600;
  margin-top: 64px;
}

.mg-4{
  margin-top: 3px;
  margin-bottom: 4px;
}

.proximos-dias{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.dia{
  border: 1px solid #2677b1;
  border-radius: 12px;
  text-align: center;
  padding: 6px 12px;
  font-size: 0.9rem;
  img{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 24px;
  }
}

.just{
  display: flex;
  align-items: center;
}