<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Clima<span>Tempo</span></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="today">
    <ion-segment-button value="today">Hoje</ion-segment-button>
    <ion-segment-button value="tomorrow">Amanhã</ion-segment-button>
    <ion-segment-button value="nextDays">15 Dias</ion-segment-button>
  </ion-segment>

  <main>
    <div class="localizacao">
      <img src="https://cdn-icons-png.flaticon.com/512/1239/1239242.png?w=826&t=st=1660351986~exp=1660352586~hmac=314c6a07980f7922f0bfe96939cad14c9a9698f55858669f8a19bac169e5f8a9">
      <h4>Itapeva - SP</h4>
    </div>
    <div class="imagem-tempo">
      <img src="https://cdn-icons-png.flaticon.com/512/1146/1146869.png" >
    </div>
    <div class="minmax">
      <ion-icon name="arrow-up-outline" class="max"></ion-icon>
      <div>37º</div>
      <ion-icon name="arrow-down-outline" class="min"></ion-icon>
      <div>22º</div>
    </div>
    <div class="temperatura">
      32º
    </div>
  </main>

  <div class="info-adicional">
    <div class="info">
      <img src="https://cdn-icons-png.flaticon.com/512/959/959737.png" alt="">
      <div class="fw-350 mg-4">Vento</div>
      <div class="fw-500">12Km/h</div>
    </div>
    <div class="info borda-separacao">
      <img src="https://cdn-icons-png.flaticon.com/512/2903/2903592.png" alt="">
      <div class="fw-350 mg-4">Umidade</div>
      <div class="fw-500">35%</div>
    </div>
    <div class="info">
      <img src="https://cdn-icons-png.flaticon.com/512/8031/8031023.png" alt="">
      <div class="fw-350 mg-4">Chuva</div>
      <div class="fw-500">20%</div>
    </div>
  </div>

  <h2>Próximos dias</h2>

  <div class="proximos-dias">
    <div class="hora">
      <div>12:00</div>
      <img src="https://cdn-icons-png.flaticon.com/512/642/642000.png" alt="">
      <div>-5ºC</div>
    </div>  
    <div class="hora">
      <div>13:00</div>
      <img src="https://cdn-icons-png.flaticon.com/512/642/642000.png" alt="">
      <div>-2ºC</div>
    </div> 
    <div class="hora"> 
      <div>14:00</div>
      <img src="https://cdn-icons-png.flaticon.com/512/2698/2698213.png" alt="">
      <div>4C</div>
    </div> 
    <div class="hora"> 
      <div>15:00</div>
      <img src="https://cdn-icons-png.flaticon.com/512/2698/2698213.png" alt="">
      <div>9ºC</div>
    </div>
  </div>
</ion-content>