<ion-content>
  <div class="coracao"> 
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
  </div>
  <div class="center">
    <h1>Vai dar namoro</h1>
    <h3>Vamos ver se ele(a) goxxxta?</h3>
  </div>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Primeiro Nome</ion-label>
    <ion-input [(ngModel)]="nome1" type="text"></ion-input>
  </ion-item>
  <div class="icone"><ion-icon name="add"></ion-icon></div>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Segundo Nome</ion-label>
    <ion-input [(ngModel)]="nome2" type="text"></ion-input>
  </ion-item>

  <ion-button (click)="calcular()" id="open-resposta" expand="full" color="danger">Calcular</ion-button>

  <ion-modal id="resposta" #modal trigger="open-resposta">
    <ng-template>
      <h1>{{ porcentagem }}%</h1>
    </ng-template>

  </ion-modal>
</ion-content>