<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ produto.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="detalhe">
    <img src="{{ produto.foto  || 'https://via.placeholder.com/350'}}" alt="">
    <p>{{ produto.descricao }}</p>
    <h3>{{ produto.valor | currency: 'BRL'}}</h3>
  </div>

  <footer>
    <div class="d-flex">
      <ion-button (click)="subQtd()">-</ion-button>
      <p>{{ quantidade }}</p>
      <ion-button (click)="addQtd()">+</ion-button>
    </div>
    <div class="m-auto">
      <ion-button>Adicionar {{produto.valor * quantidade | currency: 'BRL'}}</ion-button>
    </div>
  </footer>
</ion-content>

